@font-face {
    font-family: 'Averta';
    src: url(/site/assets/fonts/Averta/AvertaStd-Bold.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url(/site/assets/fonts/Averta/AvertaStd-Extrabold.ttf);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url(/site/assets/fonts/Averta/Averta-Black.ttf);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url(/site/assets/site/assets/fonts/Averta/AvertaStd-Light.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url(/site/assets/fonts/Averta/AvertaStd-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url(/site/assets/fonts/Averta/AvertaStd-Thin.ttf);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url(/site/assets/fonts/Averta/AvertaStd-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}